# Configure known File-Extensions
knownExtensions=avi|mpg|mpeg|mov|flv|divx|xvid|ifo|vob|wmv|mkv

# Height of Window = ScreenHeight - GUI.frameHeghtDelta
#GUI.frameHeightDelta=50

# Define the location of the System WebBrowser
browser.path=C:/Program Files (x86)/Mozilla Firefox/firefox.exe

# TMDB config
tmdb.baseurl=http://api.themoviedb.org/2.1/
tmdb.apikey=<Add API-KEY here>
